<div>
  <div class="col-md-3">
    <div>Notebooks</div>
    <div>
      title: {{input class="title" value=title}}
      <button class="add-notebook" {{action 'addNotebook'}}>Add</button>
    </div>
    <div>
      <ul>
        {{#each model as |notebook|}}
          {{#link-to 'notebooks.notes' notebook.id}}
            <li data-test-id={{notebook.id}}>{{notebook.title}}</li>
          {{/link-to}}
        {{else}}
          <div>No notebooks found</div>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="col-md-9">
    {{outlet}}
  </div>
</div>
